.not-container{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}
.ni{
    height: 250px;
    width: 250px;
}
.not-heading{
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: bold;
    color: #5a7184;
}
.not-para{
    font-size: 20px;
    font-family: 'Roboto';
    color:  #c3cad9;
}