.container {
  min-height: 100vh;
  background-color: #152850;
}
.headingme {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
}
.heading {
  font-family: 'Roboto';
  font-size: 45px;
  color: white;
  font-weight: bold;
}
